<h2>My Players</h2>
<ul class="players">
  <li *ngFor="let player of players" >
    <a routerLink="/player/{{player.id}}">
        <!--(click)="onSelect(player)" [class.selected]="player === selectedPlayer" -->
      <span class="badge">{{player.id}}</span> <span class="text">{{player.name}}</span>
    </a>
    <button class="delete" title="delete player" (click)="delete(player)">x</button>
  </li>
</ul>
<div>
  <input #playerName placeholder="Player Name" />
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(playerName.value); playerName.value=''">
    add
  </button>
</div>

<!--<app-player-detail [player]="selectedPlayer"></app-player-detail>-->


<!--<div *ngIf="selectedPlayer">-->
  <!--<h2>Details</h2>-->
  <!--<label>Selected Player :-->
    <!--<input [(ngModel)]="selectedPlayer.name" placeholder="name">-->
  <!--</label>-->
<!--</div>-->
